<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<false/>
			</dict>
			<key>UseSystemIO</key>
			<true/>
		</dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1EwRA==</data>
					<key>Replace</key>
					<data>WFEwRA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _Q0D to XQ0D</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1EwRQ==</data>
					<key>Replace</key>
					<data>WFEwRQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _Q0E to XQ0E</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1EwRg==</data>
					<key>Replace</key>
					<data>WFEwRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _Q0F to XQ0F</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExMg==</data>
					<key>Replace</key>
					<data>WFExMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _Q12 to XQ12</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BSVw==</data>
					<key>Replace</key>
					<data>WFBSVw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _PRW to XPRW (Tgt: GLAN)</string>
					<key>TgtBridge</key>
					<data>R0xBTg==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BSVw==</data>
					<key>Replace</key>
					<data>WFBSVw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _PRW to XPRW (Tgt: XDCI)</string>
					<key>TgtBridge</key>
					<data>WERDSQ==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BSVw==</data>
					<key>Replace</key>
					<data>WFBSVw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _PRW to XPRW (Tgt: HDAS)</string>
					<key>TgtBridge</key>
					<data>SERBUw==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BSVw==</data>
					<key>Replace</key>
					<data>WFBSVw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _PRW to XPRW (Tgt: XHC)</string>
					<key>TgtBridge</key>
					<data>WEhDXw==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixAirport</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixRegions</key>
				<true/>
				<key>AddDTGP</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
			</dict>
			<key>DropOEM_DSM</key>
			<dict>
				<key>USB</key>
				<false/>
				<key>HDMI</key>
				<false/>
				<key>ATI</key>
				<true/>
				<key>SmBUS</key>
				<false/>
				<key>LAN</key>
				<false/>
				<key>IntelGFX</key>
				<false/>
				<key>WIFI</key>
				<false/>
				<key>LPC</key>
				<false/>
				<key>Firewire</key>
				<false/>
				<key>IDE</key>
				<true/>
				<key>NVidia</key>
				<true/>
				<key>HDA</key>
				<false/>
				<key>SATA</key>
				<false/>
			</dict>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>TableId</key>
				<string>xh_whld4</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NoEarlyProgress</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>dart=0 applbkl=1 brcmfx-country=#a -brcmfxwowl darkwake=0 kext-dev-mode=1 vsmcgen=1 igfxonln=1</string>
		<key>XMPDetection</key>
		<false/>
		<key>Timeout</key>
		<integer>10</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Language</key>
		<string>fr:1</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>SetIntelBacklight</key>
		<false/>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>5</integer>
		</dict>
		<key>SetIntelMaxBacklight</key>
		<false/>
		<key>UseIntelHDMI</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>device_type</key>
				<string>Audio Device</string>
				<key>layout-id</key>
				<data>FQAAAA==</data>
				<key>model</key>
				<string>Realtek High Definition Audio</string>
				<key>name</key>
				<string>Realtek ALC294</string>
				<key>AAPL,slot-name</key>
				<string>Built-In</string>
				<key>compatible</key>
				<string>pci8086,9dc8</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>framebuffer-flags</key>
				<data>CgujAA==</data>
				<key>framebuffer-portcount</key>
				<data>AQAAAA==</data>
				<key>disable-external-gpu</key>
				<data>AQAAAA==</data>
				<key>device-id</key>
				<data>pT4AAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AAAAAw==</data>
				<key>device_type</key>
				<string>VGA Compatible Controller</string>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>AAPL,slot-name</key>
				<string>Built-In</string>
				<key>AAPL,ig-platform-id</key>
				<data>CQClPg==</data>
				<key>enable-lspcon-support</key>
				<data>AQAAAA==</data>
				<key>model</key>
				<string>Intel(R) UHD Graphics 620</string>
				<key>name</key>
				<string>Display Adapter</string>
				<key>framebuffer-cursormem</key>
				<data>AAAAAw==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1d,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>model</key>
				<string>WDC PC SN520 SDAPNUW-256G-1002</string>
				<key>name</key>
				<string>WDC PC SN520 NVMe SSD</string>
				<key>AAPL,slot-name</key>
				<string>NVMe</string>
				<key>device_type</key>
				<string>NVMe Storage Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>model</key>
				<string>Intel(R) USB 3.1 xHCI Controller</string>
				<key>name</key>
				<string>USB xHCI Controller</string>
				<key>AAPL,slot-name</key>
				<string>Built-In</string>
				<key>device_type</key>
				<string>USB Composite Device</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
			<dict>
				<key>device_type</key>
				<string>SATA Controller</string>
				<key>model</key>
				<string>Intel(R) AHCI Controller</string>
				<key>name</key>
				<string>SATA AHCI Controller</string>
				<key>AAPL,slot-name</key>
				<string>Built-In</string>
				<key>compatible</key>
				<string>pci8086,9dd3</string>
			</dict>
		</dict>
		<key>HDMIInjection</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>HorizontalSyncPulseWidth</key>
			<string>0x64</string>
			<key>VendorID</key>
			<string>0x30E4</string>
			<key>Inject</key>
			<true/>
			<key>ProductID</key>
			<string>0x0563</string>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IO80211Family.kext</string>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>Board-ID</key>
		<string>Mac-53FDB3D8DB8CA971</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MBP154.88Z.F000.B00.1909172115</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>FVF912270GU0000FB</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro15,4</string>
		<key>SmUUID</key>
		<string>E35EA6AB-6E97-4294-96E8-43C240F8912D</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1037.0.78.0.0</string>
		<key>SerialNumber</key>
		<string>FVFYGQYZL40Y</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>09/17/2019</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectSystemID</key>
		<true/>
		<key>CustomUUID</key>
		<string>67453652-C783-492A-9747-9584FF3D26D6</string>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
</dict>
</plist>